---
# Summary of Tasks
---

1. **Database Construction and Data Ingestion**
- Construct a database (thalassaDB) in PostgreSQL.
- Create tables with the following schema:
    - Positions (id, t, lon, lat, heading, course, speed, vessel_id)
    - Vessels (id, flag, type)
    - VesselTypes (code, description)
- Populate these tables with data from the provided CSV files.

2. **Data Conversion to Geometry**
- Convert the initial data into geometries, either as point geometry or line geometry.
- Manually insert additional data:
    - AISantenna table: add the position.
    - Ports table: add some ports of the Piraeus area.
    - Ports table: add a column of polygonal geometry for Piraeus.
    
3. **Data Exploration with SQL Queries**
- Determine ships without static information.
- Identify the nearest and furthest spot recorded by the antenna.
- Find ships that exceeded 30 knots and determine their type.
- Identify cargo ships anchored in the port of Piraeus during specific periods.
- Find pairs of ships that were found near each other in the port of Piraeus during a specific time period.

4. **Data Analysis with Python/GeoPandas**
- Analyze data for a specific passenger ship on a specific day.
- Determine the maximum speed the ship developed and the ports it was close to.

5. **Data Cleaning**
- Clean data to remove duplicates and noise.
- Add additional fields to the Vessels and VesselTypes tables.
- Perform two "cleanup" operations.

6. **Data Enrichment**
- Segment the sequence of moments emitted by a ship.
- Populate three new tables:
    - Trips (trip_id, vessel_id, depart_time, arrival_time, depart_port, arrival_port)
    - Trajectories (trajectory_id, vessel_id, start_time, end_time, status)
    - NavigationalStatus (code, description)

---

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd

In [3]:
# Load the csv
vessel_types_df = pd.read_csv("VesselTypes.csv")
ports_df = pd.read_csv("Ports.csv")
positions_df = pd.read_csv("Positions.csv")
vessels_df = pd.read_csv("Vessels.csv")

In [4]:
vessel_types_df.head()

   code              description
0     0  Not available (default)
1     1  Reserved for future use
2     2  Reserved for future use
3     3  Reserved for future use
4     4  Reserved for future use

In [5]:
ports_df.head()

      name       lon       lat
0      ZEA  23.64899  37.93486
1  SOUSAKI  23.05575  37.91680
2     SIRI  24.06864  37.74283
3   RAFINA  24.01164  38.02345
4  PIRAEUS  23.61210  37.94958

In [6]:
positions_df.head()

,id,vessel_id,t,lon,lat,heading,course,speed
0,9265265,233e40fcef6e1d9247de2366e84ea2485434313798db9a...,2019-08-04 07:39:06,23.60345,37.91632,23.0,29.0,3.8
1,9265268,b4510b5d03cfa4f522dbd40f382adf6d5eb6dcedcf8f6a...,2019-08-04 07:39:06,23.57163,37.93115,NaN,216.0,7.5
2,9265269,9d6bce74b377738891597e999b99deaa67fd5b90466d8d...,2019-08-04 07:39:06,23.62329,37.83368,179.0,181.8,30.7
3,9265272,a36bd40277c27438221c6a034cc989ff2b179b41c126f0...,2019-08-04 07:39:07,23.55697,37.91315,NaN,337.6,0.0
4,9265273,490201f75b5ddc3766b08b79c84ff3ff6f3737c31a8906...,2019-08-04 07:39:07,23.64142,37.94449,NaN,NaN,0.1

In [7]:
vessels_df.head()

                                                  id  type    flag
0  05689045c30e372c6603b3db8312f9d7444c75b42ff879...  37.0  Cyprus
1  b6ce45e37aff96757b2a87fd26dc99a7ec304823216468...  40.0  Cyprus
2  5b53cea1893df61389767637884d1188ca8a9da7ebce5b...  70.0  Cyprus
3  77a52ea9efafd351d2d027808b516c1dbf5acf95c3e246...  84.0  Cyprus
4  04b6c84a518f833b7206a114ada7660d56888de1af6cab...  70.0  Cyprus

1. **VesselTypes.csv:**
- `code`: Appears to be a numeric code for each vessel type.
- `description`: Description or name of the vessel type.

2. **Ports.csv:**
- `name`: Name of the port.
- `lon`: Longitude of the port.
- `lat`: Latitude of the port.

3. **Positions.csv:**
- `id`: Unique identifier for the position entry.
- `vessel_id`: Identifier for the vessel that this position corresponds to.
- `t`: Timestamp of the position.
- `lon`: Longitude of the position.
- `lat`: Latitude of the position.
- `heading`: Heading of the vessel.
- `course`: Course of the vessel.
- `speed`: Speed of the vessel.

4. **Vessels.csv:**
- `id`: Identifier for the vessel.
- `type`: Numeric code corresponding to the vessel type (probably references code from VesselTypes.csv).
- `flag`: Flag of the vessel (probably country of origin or registration).
---

## 1. Database Construction and Data Ingestion
- Construct a database (thalassaDB) in PostgreSQL.
- Create tables with the following schema:
    - Positions (id, t, lon, lat, heading, course, speed, vessel_id)
    - Vessels (id, flag, type)
    - VesselTypes (code, description)
- Populate these tables with data from the provided CSV files.

1. **Setting up the Database in pgAdmin:**

- Open pgAdmin:
    - Launch `pgAdmin` from your computer.

- Connect to a Server:
    - In the `pgAdmin` interface, right-click on the `Servers` item in the browser tree on the left and select `Connect Server`.

- Create a New Database:
    - Right-click on `Databases` under the connected server in the browser tree.
    - Select `Create` -> `Database`.
    - Name the database `thalassaDB` and click `Save`.

2. **Setting up the Tables and Populating them using Python:**
We'll use the `psycopg2`, `sqlalchemy` and `pandas` libraries in Python to interact with the PostgreSQL database and populate it with data.

Step 1: <u>Install the Required Libraries</u>

In [8]:
!pip3 install geoalchemy2 psycopg2-binary sqlalchemy

Requirement already satisfied: geoalchemy2 in c:\users\jatat\appdata\local\programs\python\python311\lib\site-packages (0.14.1)
Requirement already satisfied: psycopg2-binary in c:\users\jatat\appdata\local\programs\python\python311\lib\site-packages (2.9.7)
Requirement already satisfied: sqlalchemy in c:\users\jatat\appdata\local\programs\python\python311\lib\site-packages (2.0.21)
Requirement already satisfied: packaging in c:\users\jatat\appdata\local\programs\python\python311\lib\site-packages (from geoalchemy2) (23.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\jatat\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jatat\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (2.0.2)

Step 2: <u>Establish a Connection</u>

In [9]:
import psycopg2
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, String, TIMESTAMP, ForeignKey, text

In [10]:
# Create an engine for the PostgreSQL database
engine = create_engine('postgresql+psycopg2://postgres:elena@localhost:5432/thalassaDB')

Step 3: <u>Create Tables and Populate the Tables from CSV Files</u>

In [ ]:
# Use the `to_sql` method of pandas DataFrame to populate the tables
vessel_types_df.to_sql('VesselTypes', engine, if_exists='replace', index=False)
ports_df.to_sql('Ports', engine, if_exists='replace', index=False)
positions_df.to_sql('Positions', engine, if_exists='replace', index=False)
vessels_df.to_sql('Vessels', engine, if_exists='replace', index=False)

---
# 2. Data Conversion to Geometry

- Convert the initial data into geometries, either as point geometry or line geometry.
- Manually insert additional data:
    - AISantenna table: add the position.
    - Ports table: add some ports of the Piraeus area.
    - Ports table: add a column of polygonal geometry for Piraeus.

Step 1: <u>Convert the positions in the `Positions` and `Ports` tables to point geometries.</u>

In [11]:
import geopandas as gpd
from shapely.geometry import Point

In [12]:
# Convert Ports data to point geometry
gdf_ports = gpd.GeoDataFrame(ports_df, geometry=gpd.points_from_xy(ports_df.lon, ports_df.lat))

In [13]:
# Convert Positions data to point geometry
gdf_positions = gpd.GeoDataFrame(positions_df, geometry=gpd.points_from_xy(positions_df.lon, positions_df.lat))

In [14]:
gdf_ports.head(102)

              name       lon       lat                   geometry
0              ZEA  23.64899  37.93486  POINT (23.64899 37.93486)
1          SOUSAKI  23.05575  37.91680  POINT (23.05575 37.91680)
2             SIRI  24.06864  37.74283  POINT (24.06864 37.74283)
3           RAFINA  24.01164  38.02345  POINT (24.01164 38.02345)
4          PIRAEUS  23.61210  37.94958  POINT (23.61210 37.94958)
5           PERAMA  23.56732  37.96085  POINT (23.56732 37.96085)
6           LAVRIO  24.06200  37.70966  POINT (24.06200 37.70966)
7          GLYFADA  23.74211  37.86429  POINT (23.74211 37.86429)
8          FLISVOS  23.68419  37.93555  POINT (23.68419 37.93555)
9       FANEROMENI  23.42040  37.98380  POINT (23.42040 37.98380)
10          FALIRO  23.66753  37.94041  POINT (23.66753 37.94041)
11         ELEFSIS  23.52811  38.03541  POINT (23.52811 38.03541)
12   CORINTH CANAL  22.98447  37.93434  POINT (22.98447 37.93434)
13         CORINTH  22.93752  37.94296  POINT (22.93752 37.94296)
14     ASPROPYRGOS  23.59330  38.01939  POINT (23.59330 38.01939)
15          ALIMOS  23.70421  37.91364  POINT (23.70421 37.91364)
16         AGISTRI  23.34824  37.71277  POINT (23.34824 37.71277)
17    AGIOS KOSMAS  23.72683  37.87800  POINT (23.72683 37.87800)
18  AGIOI THEODORI  23.08868  37.91568  POINT (23.08868 37.91568)
19          AEGINA  23.42686  37.74639  POINT (23.42686 37.74639)
20         ERMIONI  23.25279  37.38586  POINT (23.25279 37.38586)

In [15]:
gdf_positions.head(25)

,id,vessel_id,t,lon,lat,heading,course,speed,geometry
0,9265265,233e40fcef6e1d9247de2366e84ea2485434313798db9a...,2019-08-04 07:39:06,23.60345,37.91632,23.0,29.0,3.8,POINT (23.60345 37.91632)
1,9265268,b4510b5d03cfa4f522dbd40f382adf6d5eb6dcedcf8f6a...,2019-08-04 07:39:06,23.57163,37.93115,NaN,216.0,7.5,POINT (23.57163 37.93115)
2,9265269,9d6bce74b377738891597e999b99deaa67fd5b90466d8d...,2019-08-04 07:39:06,23.62329,37.83368,179.0,181.8,30.7,POINT (23.62329 37.83368)
3,9265272,a36bd40277c27438221c6a034cc989ff2b179b41c126f0...,2019-08-04 07:39:07,23.55697,37.91315,NaN,337.6,0.0,POINT (23.55697 37.91315)
4,9265273,490201f75b5ddc3766b08b79c84ff3ff6f3737c31a8906...,2019-08-04 07:39:07,23.64142,37.94449,NaN,NaN,0.1,POINT (23.64142 37.94449)
5,9265274,f4338c3a901352bab6897ca05bd205d54e7a5c37e27eee...,2019-08-04 07:39:07,23.54441,37.88674,321.0,313.8,3.2,POINT (23.54441 37.88674)
6,9265277,5de00399a2fdba5f2eb761a622a79a73af9d4058d51e6b...,2019-08-04 07:39:08,23.64123,37.94479,NaN,209.5,0.0,POINT (23.64123 37.94479)
7,9265278,57139e85177dea04c5a366a3c24ca31a613754c1379d3e...,2019-08-04 07:39:08,23.60928,37.93473,NaN,62.6,31.6,POINT (23.60928 37.93473)
8,9265279,bac263db165c5cef0003ad51e8d9161990f7c2e9f9fab8...,2019-08-04 07:39:09,23.60396,37.92806,348.0,348.3,5.7,POINT (23.60396 37.92806)
9,9265280,9d6bce74b377738891597e999b99deaa67fd5b90466d8d...,2019-08-04 07:39:09,23.62328,37.83339,179.0,181.6,30.7,POINT (23.62328 37.83339)
10,9265281,af8ab01cfe8ab02333ec5f7689f6711501246324b7d5d7...,2019-08-04 07:39:09,23.64877,37.93326,138.0,NaN,0.0,POINT (23.64877 37.93326)
11,9265283,cc41d3f249146e80540771912150e3e009ce3aa631ca9f...,2019-08-04 07:39:09,23.61360,37.93367,29.0,29.0,6.1,POINT (23.61360 37.93367)
12,9265284,f83722e1d3a9edcad17dff23f15b7ec525c5ff43746500...,2019-08-04 07:39:10,23.60320,37.83760,183.0,181.0,13.8,POINT (23.60320 37.83760)
13,9265285,57139e85177dea04c5a366a3c24ca31a613754c1379d3e...,2019-08-04 07:39:10,23.60962,37.93485,NaN,63.6,31.6,POINT (23.60962 37.93485)
14,9265286,490201f75b5ddc3766b08b79c84ff3ff6f3737c31a8906...,2019-08-04 07:49:47,23.64140,37.94447,NaN,NaN,0.0,POINT (23.64140 37.94447)
15,9265287,1d2a32243707b28cb49a7c7806585b884d7f84b30c1a24...,2019-08-04 07:39:10,23.62002,37.92094,175.0,179.0,23.8,POINT (23.62002 37.92094)
16,9265288,d9f6d810b6c725dc0e792101cef23e0751f3e5d2c11b37...,2019-08-04 07:39:11,23.52860,37.86335,328.0,238.0,0.1,POINT (23.52860 37.86335)
17,9265289,8be4c17e6c22819d92843b1a5bc575e9f91932f8da33a3...,2019-08-04 07:39:11,23.61632,37.91607,185.0,185.7,23.3,POINT (23.61632 37.91607)
18,9265290,5b354bb4aa983f99d965725d47e158222b613f0c694866...,2019-08-04 07:39:11,23.59787,37.94270,NaN,156.2,1.9,POINT (23.59787 37.94270)
19,9265291,8406aa01dbd09a832e2a9825f28f900e03c718f86c1665...,2019-08-04 07:39:11,23.59717,37.94695,NaN,347.7,4.7,POINT (23.59717 37.94695)
20,9265292,065809b408897ba8c70edf8ebd41aa8a52517815c144f9...,2019-08-04 07:39:11,23.59390,37.95813,168.0,6.2,0.1,POINT (23.59390 37.95813)
21,9265293,b9c2e66d0b02559e9cebc08025e252b7bb82837291d5b9...,2019-08-04 07:39:11,23.63017,37.89200,332.0,330.0,19.4,POINT (23.63017 37.89200)
22,9265294,13e66ee58266f34edc46e2b48f502111760d4ee2a59788...,2019-08-04 07:39:11,23.53079,37.96609,NaN,40.4,0.0,POINT (23.53079 37.96609)
23,9265296,2c9d1c660fa17f69e407f72debbb57f21457b0023d188d...,2019-08-04 07:39:11,23.59809,37.94914,NaN,NaN,0.0,POINT (23.59809 37.94914)
24,9265300,3042352ae7ede1074c7c930979948a536bb7179fd00c2c...,2019-08-04 07:39:11,23.53055,37.96573,NaN,81.7,0.0,POINT (23.53055 37.96573)

Step 2. <u>Manually Insert Additional Data:</u>

- AISantenna Table: Inserting Position Data

In [16]:
# Create AISantenna DataFrame and add the provided coordinates
aisantenna_data = {
    'name': ['University of Piraeus'],
    'lon': [23.653668155706743],
    'lat': [37.941779592140776]
}
aisantenna_df = pd.DataFrame(aisantenna_data)

In [17]:
# Convert to GeoDataFrame with point geometry
gdf_aisantenna = gpd.GeoDataFrame(
    aisantenna_df, 
    geometry=gpd.points_from_xy(aisantenna_df.lon, aisantenna_df.lat)
)

gdf_aisantenna

                    name        lon       lat                   geometry
0  University of Piraeus  23.653668  37.94178  POINT (23.65367 37.94178)

- Ports Table
    - we will add more ports for the Piraeus area. The document mentions additional ports like Drapetsona, Piraeus - Akti Vassiliadis, Piraeus - Central Port, and Mikrolimano.

In [18]:
# Additional ports data
additional_ports_data = {
    'name': ['Drapetsona', 'Piraeus - Akti Vassiliadis', 'Piraeus - Central Port', 'Mikrolimano'],
    'lon': [23.628131731963943, 23.64036517206898, 23.63324742102729, 23.665632987159743],
    'lat': [37.9424932626045, 37.94484267534421, 37.94089305186485, 37.93356948254034]
}
additional_ports_df = pd.DataFrame(additional_ports_data)

In [19]:
# Convert to GeoDataFrame with point geometry
gdf_additional_ports = gpd.GeoDataFrame(
    additional_ports_df,
    geometry=gpd.points_from_xy(additional_ports_df.lon, additional_ports_df.lat)
)

# Append to the main ports dataframe
gdf_ports_combined = pd.concat([gdf_ports, gdf_additional_ports], ignore_index=True)

# Display the newly added ports
gdf_ports_combined.tail()

,name,lon,lat,geometry
20,ERMIONI,23.252790,37.385860,POINT (23.25279 37.38586)
21,Drapetsona,23.628132,37.942493,POINT (23.62813 37.94249)
22,Piraeus - Akti Vassiliadis,23.640365,37.944843,POINT (23.64037 37.94484)
23,Piraeus - Central Port,23.633247,37.940893,POINT (23.63325 37.94089)
24,Mikrolimano,23.665633,37.933569,POINT (23.66563 37.93357)

- Ports Table: Adding Polygonal Geometry for Piraeus

In [20]:
# Load the provided Piraeus shapefile
piraeus_shapefile_path_new = 'piraeus_port/piraeus_port.shp'
gdf_piraeus_polygon_new = gpd.read_file(piraeus_shapefile_path_new)

In [21]:
gdf_piraeus_polygon_new.geometry

0    MULTIPOLYGON (((23.62112 37.93674, 23.62203 37...
Name: geometry, dtype: geometry

In [22]:
# Extract the polygon geometry
piraeus_polygon_new = gdf_piraeus_polygon_new.geometry.iloc[0]

# Add the polygon to the Ports table where the port name is "PIRAEUS"
gdf_ports_combined.loc[gdf_ports_combined['name'] == 'PIRAEUS', 'polygon'] = piraeus_polygon_new

gdf_ports_combined[gdf_ports_combined['name'] == 'PIRAEUS']

,name,lon,lat,geometry,polygon
4,PIRAEUS,23.6121,37.94958,POINT (23.61210 37.94958),"MULTIPOLYGON (((23.6211246 37.9367436, 23.6220..."

In [23]:
gdf_ports_combined

,name,lon,lat,geometry,polygon
0,ZEA,23.648990,37.934860,POINT (23.64899 37.93486),NaN
1,SOUSAKI,23.055750,37.916800,POINT (23.05575 37.91680),NaN
2,SIRI,24.068640,37.742830,POINT (24.06864 37.74283),NaN
3,RAFINA,24.011640,38.023450,POINT (24.01164 38.02345),NaN
4,PIRAEUS,23.612100,37.949580,POINT (23.61210 37.94958),"MULTIPOLYGON (((23.6211246 37.9367436, 23.6220..."
5,PERAMA,23.567320,37.960850,POINT (23.56732 37.96085),NaN
6,LAVRIO,24.062000,37.709660,POINT (24.06200 37.70966),NaN
7,GLYFADA,23.742110,37.864290,POINT (23.74211 37.86429),NaN
8,FLISVOS,23.684190,37.935550,POINT (23.68419 37.93555),NaN
9,FANEROMENI,23.420400,37.983800,POINT (23.42040 37.98380),NaN
10,FALIRO,23.667530,37.940410,POINT (23.66753 37.94041),NaN
11,ELEFSIS,23.528110,38.035410,POINT (23.52811 38.03541),NaN
12,CORINTH CANAL,22.984470,37.934340,POINT (22.98447 37.93434),NaN
13,CORINTH,22.937520,37.942960,POINT (22.93752 37.94296),NaN
14,ASPROPYRGOS,23.593300,38.019390,POINT (23.59330 38.01939),NaN
15,ALIMOS,23.704210,37.913640,POINT (23.70421 37.91364),NaN
16,AGISTRI,23.348240,37.712770,POINT (23.34824 37.71277),NaN
17,AGIOS KOSMAS,23.726830,37.878000,POINT (23.72683 37.87800),NaN
18,AGIOI THEODORI,23.088680,37.915680,POINT (23.08868 37.91568),NaN
19,AEGINA,23.426860,37.746390,POINT (23.42686 37.74639),NaN
20,ERMIONI,23.252790,37.385860,POINT (23.25279 37.38586),NaN
21,Drapetsona,23.628132,37.942493,POINT (23.62813 37.94249),NaN
22,Piraeus - Akti Vassiliadis,23.640365,37.944843,POINT (23.64037 37.94484),NaN
23,Piraeus - Central Port,23.633247,37.940893,POINT (23.63325 37.94089),NaN
24,Mikrolimano,23.665633,37.933569,POINT (23.66563 37.93357),NaN

--- 
# 3. Data Exploration with SQL Queries

- Determine ships without static information.
- Identify the nearest and furthest spot recorded by the antenna.
- Find ships that exceeded 30 knots and determine their type.
- Identify cargo ships anchored in the port of Piraeus during specific periods.
- Find pairs of ships that were found near each other in the port of Piraeus during a specific time period.

Step 1: <u>Determine ships without static information.</u>

In [24]:
# SQL query
query_ships_without_static_info = """
SELECT DISTINCT vessel_id
FROM "Positions"
WHERE vessel_id NOT IN (SELECT id FROM "Vessels");
"""

In [25]:
# Execute the query and fetch the results into a DataFrame
df_ships_without_static_info = pd.read_sql(query_ships_without_static_info, engine)

df_ships_without_static_info

Empty DataFrame
Columns: [vessel_id]
Index: []

Step 2: <u>Identify the nearest and furthest spot recorded by the antenna.</u>

In [26]:
# SQL query for nearest position
query_nearest_position = """
SELECT id, vessel_id, t,
       SQRT(POWER(lon - 23.653668155706743, 2) + POWER(lat - 37.941779592140776, 2)) AS distance
FROM "Positions"
ORDER BY distance ASC
LIMIT 1;
"""

In [27]:
df_nearest_position = pd.read_sql(query_nearest_position, engine)

In [28]:
# SQL query for furthest position
query_furthest_position = """
SELECT id, vessel_id, t,
       SQRT(POWER(lon - 23.653668155706743, 2) + POWER(lat - 37.941779592140776, 2)) AS distance
FROM "Positions"
ORDER BY distance DESC
LIMIT 1;
"""

In [29]:
df_furthest_position = pd.read_sql(query_furthest_position, engine)

In [30]:
df_nearest_position

,id,vessel_id,t,distance
0,477942,398c63c488b91df0bec2753b54c51402c0e2d38192cef2...,2019-08-02 04:22:47,0.005141

In [31]:
df_furthest_position

,id,vessel_id,t,distance
0,3509731,e1090186361708c420201fcc97bf2771d543fdb98d4c14...,2019-08-28 08:30:12,0.638057

Step 3: <u>Find ships that exceeded 30 knots and determine their type.</u>

In [32]:
# SQL query
query_ships_over_30_knots = """
SELECT DISTINCT p.vessel_id, v.type, t.description
FROM "Positions" p
JOIN "Vessels" v ON p.vessel_id = v.id
JOIN "VesselTypes" t ON v.type = t.code
WHERE p.speed > 30;
"""

In [33]:
# Execute the query and fetch the results into a DataFrame
df_ships_over_30_knots = pd.read_sql(query_ships_over_30_knots, engine)

df_ships_over_30_knots

,vessel_id,type,description
0,1eee5599ef5de5c07df6698ab4d4a6e6bbe4a2be252088...,40.0,"High speed craft (HSC), all ships of this type"
1,26199b57ef2b787a02bf09d81b98aa7ca1a984091c6a2b...,80.0,"Tanker, all ships of this type"
2,3fc28f4d2b3c7cb5f68d5b71f6fda727e4f8cd66515d98...,49.0,"High speed craft (HSC), No additional information"
3,4babbcb0d3d48cf988de1a317acb5a62ce72bf0a17e551...,31.0,Towing
4,53880c54896ed4abe0fc51d4173ca486a97f679a8e34b6...,49.0,"High speed craft (HSC), No additional information"
5,57139e85177dea04c5a366a3c24ca31a613754c1379d3e...,42.0,"High speed craft (HSC), Hazardous category B"
6,7475bb3647d8bb62aa76547601ddf92dc356b5de07fcdd...,71.0,"Cargo, Hazardous category A"
7,8e75c1624d2d78c0f3df3598aaa14f5fcfe6252557fb7b...,80.0,"Tanker, all ships of this type"
8,9a07029a6294dcf984fba483879732a7b9cc864ef7cd70...,70.0,"Cargo, all ships of this type"
9,9d6bce74b377738891597e999b99deaa67fd5b90466d8d...,40.0,"High speed craft (HSC), all ships of this type"
10,9ea327071a3ab8fb39601c3c7ff79397fc7de77f7fb2aa...,37.0,Pleasure Craft
11,b6ce45e37aff96757b2a87fd26dc99a7ec304823216468...,40.0,"High speed craft (HSC), all ships of this type"
12,c7264ef76fbbcb3a6695a16313e0bda49aa753d1fe3a5a...,60.0,"Passenger, all ships of this type"
13,d8424a3a6af4a7a3aedb80308bc6a000c5a6b99511706a...,40.0,"High speed craft (HSC), all ships of this type"
14,eb538d8d3b4da934559c3bc761faf1fb6414f80e54b037...,40.0,"High speed craft (HSC), all ships of this type"
15,f695447603e623ec3e0f9d7667932e9a81880b56757f96...,40.0,"High speed craft (HSC), all ships of this type"

    - Update the Positions table with geometry:

In [71]:
from geoalchemy2 import Geometry, WKTElement
import geopandas as gpd

# Convert the 'geometry' column to WKT format
gdf_positions['geometry'] = gdf_positions['geometry'].apply(lambda x: WKTElement(x.wkt, srid=4326))

In [69]:
with engine.connect() as connection:
    connection.execute(text('ALTER TABLE "Positions" ADD COLUMN geometry GEOMETRY(POINT, 4326);'))
    connection.commit()
    
    # Execute the SQL statement to add the "geometry" column of type POINT
    connection.execute(text('ALTER TABLE "Ports" ADD COLUMN geometry GEOMETRY(POINT, 4326);'))
    connection.commit()
    
    # Execute the SQL statement to add the "multipolygon" column of type MULTIPOLYGON
    connection.execute(text('ALTER TABLE "Ports" ADD COLUMN multipolygon GEOMETRY(MULTIPOLYGON, 4326);'))
    connection.commit()

In [93]:
# Then append the data to the "Positions" table in PostgreSQL
gdf_positions.to_sql('Positions', engine, if_exists='append', index=False, 
                     dtype={'geometry': Geometry('POINT', srid=4326)})

651

    - Update the Ports table with point and polygon geometries:

In [83]:
# Convert the 'geometry' column to WKT format with SRID 4326
gdf_ports_combined['geometry'] = gdf_ports_combined['geometry'].apply(lambda x: WKTElement(x.wkt, srid=4326))

# Convert the 'polygon' column to WKT format with SRID 4326
gdf_ports_combined['polygon'] = gdf_ports_combined['polygon'].apply(lambda x: WKTElement(x.wkt, srid=4326) if pd.notnull(x) else None)

In [86]:
# Create and populate the "Ports" table in PostgreSQL
gdf_ports_combined.to_sql('Ports', engine, if_exists='replace', index=False, 
                          dtype={'geometry': Geometry('POINT', srid=4326), 
                                 'polygon': Geometry('MULTIPOLYGON', srid=4326)})

25

Step 4: <u>Identify cargo ships anchored in the port of Piraeus during specific periods.</u>

In [34]:
# Step 1: Fetch the IDs of all Cargo Vessel Types
query_cargo_types = """
    SELECT code
    FROM "VesselTypes"
    WHERE description IN (
        'Cargo, Hazardous category B', 
        'Cargo, Hazardous category D', 
        'Cargo, No additional information', 
        'Cargo, all ships of this type', 
        'Cargo, Hazardous category C', 
        'Cargo, Hazardous category A', 
        'Cargo, Reserved for future use'
    )
"""
df_cargo_types = pd.read_sql(query_cargo_types, engine)
print(df_cargo_types)

   code
0    70
1    71
2    72
3    73
4    74
5    75
6    76
7    77
8    78
9    79

In [35]:
# Step 2: Fetch Vessel IDs for Cargo Vessels
cargo_types_list = df_cargo_types["code"].tolist()

query_cargo_vessels = f"""
    SELECT id
    FROM "Vessels"
    WHERE type IN ({','.join(map(str, cargo_types_list))})
"""
df_cargo_vessels = pd.read_sql(query_cargo_vessels, engine)
print(df_cargo_vessels)

                                                    id
0    5b53cea1893df61389767637884d1188ca8a9da7ebce5b...
1    04b6c84a518f833b7206a114ada7660d56888de1af6cab...
2    59587a34286d74708bfcbe78e3985d72f56db78aad3a19...
3    17aa3715bb7f277c39817d7a13a9b3d8d05b8752fb6a8b...
4    d030cef60611b7dfe659b8e93f4f0f3fdb26ed974229f6...
..                                                 ...
99   8dda0be630decd78b5ad55431cfdc65fa194da1be2c691...
100  2d3a984d980110be739f691a7f3de3ff85abb12e70d829...
101  234535e94d6453263155bf3d2142fdb6624718a77e80b6...
102  40e17976df71c882d804a8bdd16af62ba28b3ae60fcb48...
103  ee29b66b538ffcb8bbb1c355aa07b52401d5bc3bca7398...

[104 rows x 1 columns]

In [36]:
# Step 3: Fetch the boundaries for Piraeus Port
query_piraeus_bounds = """
    SELECT MIN(lon) as min_lon, MAX(lon) as max_lon, MIN(lat) as min_lat, MAX(lat) as max_lat
    FROM "Ports" 
    WHERE name = 'PIRAEUS'
"""
df_piraeus_bounds = pd.read_sql(query_piraeus_bounds, engine)
print(df_piraeus_bounds)

   min_lon  max_lon   min_lat   max_lat
0  23.6121  23.6121  37.94958  37.94958

In [37]:
# Step 4: Fetch Anchored Cargo Vessels in Piraeus
cargo_vessel_ids = df_cargo_vessels["id"].tolist()
min_lon = df_piraeus_bounds["min_lon"].iloc[0]
max_lon = df_piraeus_bounds["max_lon"].iloc[0]
min_lat = df_piraeus_bounds["min_lat"].iloc[0]
max_lat = df_piraeus_bounds["max_lat"].iloc[0]

# Expand the boundaries by a small buffer (0.01 for this example, but you can adjust as needed)
buffer = 0.01
min_lon -= buffer
max_lon += buffer
min_lat -= buffer
max_lat += buffer

# Convert each ID to a string surrounded by single quotes
formatted_cargo_vessel_ids = ["'" + str(id) + "'" for id in cargo_vessel_ids]

query_vessel_details = f"""
    SELECT v.*, t.description as vessel_type_description
    FROM "Vessels" v
    JOIN "VesselTypes" t ON v.type = t.code
    WHERE v.id IN ({','.join(formatted_cargo_vessel_ids)})
    AND EXISTS (
        SELECT 1 
        FROM "Positions" p
        WHERE p.vessel_id = v.id
        AND p.speed = 0
        AND p.t BETWEEN '2019-08-15' AND '2019-08-18'
        AND p.lon BETWEEN {min_lon} AND {max_lon}
        AND p.lat BETWEEN {min_lat} AND {max_lat}
    )
"""
df_vessel_details = pd.read_sql(query_vessel_details, engine)
print(df_vessel_details)

                                                  id  type    flag  \
0  a22a17d47bff1c7508678f42bb840b7ef3410697fadca9...  70.0  Greece

         vessel_type_description
0  Cargo, all ships of this type

- Observation:
    - The identified vessel is registered under the flag of Greece and is categorized as a cargo ship. Specifically, its type description indicates that it's a general cargo vessel, without additional specifications about its nature or cargo type. This could mean that the vessel is versatile and can transport various types of cargo. The presence of this vessel anchored at the port of Piraeus between '2019-08-15' and '2019-08-18' implies that it could either be offloading or loading goods, undergoing maintenance, or waiting for further orders.

Step 5: <u>Find pairs of ships that were found near each other in the port of Piraeus during a specific time period</u>

In [38]:
# Fetching the boundaries for Piraeus Port
query_piraeus_bounds = """
    SELECT MIN(lon) as min_lon, MAX(lon) as max_lon, MIN(lat) as min_lat, MAX(lat) as max_lat
    FROM "Ports" 
    WHERE name = 'PIRAEUS'
"""
df_piraeus_bounds = pd.read_sql(query_piraeus_bounds, engine)
print(df_piraeus_bounds)

   min_lon  max_lon   min_lat   max_lat
0  23.6121  23.6121  37.94958  37.94958

In [39]:
# Filter positions based on time and location
min_lon = df_piraeus_bounds["min_lon"].iloc[0]
max_lon = df_piraeus_bounds["max_lon"].iloc[0]
min_lat = df_piraeus_bounds["min_lat"].iloc[0]
max_lat = df_piraeus_bounds["max_lat"].iloc[0]

# Expand the boundaries by a small buffer (0.01 for this example, but you can adjust as needed)
buffer = 0.01
min_lon -= buffer
max_lon += buffer
min_lat -= buffer
max_lat += buffer

query_temporal_positions = f"""
    SELECT p.vessel_id, p.t, p.lon, p.lat
    FROM "Positions" p
    WHERE p.t BETWEEN '2019-08-15 20:00:00' AND '2019-08-15 21:00:00'
    AND p.lon BETWEEN {min_lon} AND {max_lon}
    AND p.lat BETWEEN {min_lat} AND {max_lat}
"""
df_temporal_positions = pd.read_sql(query_temporal_positions, engine)
print(df_temporal_positions)

                                              vessel_id                    t  \
0     4babbcb0d3d48cf988de1a317acb5a62ce72bf0a17e551...  2019-08-15 20:00:00
1     26199b57ef2b787a02bf09d81b98aa7ca1a984091c6a2b...  2019-08-15 20:35:58
2     29b2c240d3ee158281fb4ad556939ee938d08685bd796a...  2019-08-15 20:36:02
3     29b2c240d3ee158281fb4ad556939ee938d08685bd796a...  2019-08-15 20:36:12
4     29b2c240d3ee158281fb4ad556939ee938d08685bd796a...  2019-08-15 20:36:21
...                                                 ...                  ...
1107  436c84118daa8ef855a15d55018ad21aedbbac3839e734...  2019-08-15 20:34:35
1108  4babbcb0d3d48cf988de1a317acb5a62ce72bf0a17e551...  2019-08-15 20:34:41
1109  29b2c240d3ee158281fb4ad556939ee938d08685bd796a...  2019-08-15 20:34:41
1110  6ba7b496df404cd3f2bcdaa79fd03881fc400ef1e0c0db...  2019-08-15 20:35:09
1111  29b2c240d3ee158281fb4ad556939ee938d08685bd796a...  2019-08-15 20:35:21

           lon       lat
0     23.60678  37.94947
1     23.61287  37.94556
2     23.61499  37.94481
3     23.61499  37.94481
4     23.61499  37.94481
...        ...       ...
1107  23.61496  37.94491
1108  23.60668  37.94950
1109  23.61503  37.94480
1110  23.60558  37.94935
1111  23.61500  37.94481

[1112 rows x 4 columns]

In [40]:
# Identify pairs of ships that were near each other and fetch their details
query_ships_near_each_other_details_with_type = f"""
WITH TemporalPositions AS (
    {query_temporal_positions.strip(";")}
)
SELECT 
    a_details.id AS vessel_a_id,
    a_details.type AS vessel_a_type,
    a_details.flag AS vessel_a_flag,
    a_type.description AS vessel_a_type_description,
    b_details.id AS vessel_b_id,
    b_details.type AS vessel_b_type,
    b_details.flag AS vessel_b_flag,
    b_type.description AS vessel_b_type_description
FROM TemporalPositions a
JOIN "Vessels" a_details ON a.vessel_id = a_details.id
JOIN "VesselTypes" a_type ON a_details.type = a_type.code
, TemporalPositions b
JOIN "Vessels" b_details ON b.vessel_id = b_details.id
JOIN "VesselTypes" b_type ON b_details.type = b_type.code
WHERE a.vessel_id != b.vessel_id
AND SQRT(POWER(a.lon - b.lon, 2) + POWER(a.lat - b.lat, 2)) < 0.5 / 60  -- distance in degrees
AND ABS(EXTRACT(EPOCH FROM (CAST(a.t AS timestamp) - CAST(b.t AS timestamp)))) <= 30;  -- time difference in seconds
"""
df_ships_near_each_other_details_with_type = pd.read_sql(query_ships_near_each_other_details_with_type, engine)
print(df_ships_near_each_other_details_with_type)

                                            vessel_a_id  vessel_a_type  \
0     4babbcb0d3d48cf988de1a317acb5a62ce72bf0a17e551...           31.0
1     4babbcb0d3d48cf988de1a317acb5a62ce72bf0a17e551...           31.0
2     4babbcb0d3d48cf988de1a317acb5a62ce72bf0a17e551...           31.0
3     4babbcb0d3d48cf988de1a317acb5a62ce72bf0a17e551...           31.0
4     4babbcb0d3d48cf988de1a317acb5a62ce72bf0a17e551...           31.0
...                                                 ...            ...
1211  436c84118daa8ef855a15d55018ad21aedbbac3839e734...           89.0
1212  436c84118daa8ef855a15d55018ad21aedbbac3839e734...           89.0
1213  436c84118daa8ef855a15d55018ad21aedbbac3839e734...           89.0
1214  436c84118daa8ef855a15d55018ad21aedbbac3839e734...           89.0
1215  436c84118daa8ef855a15d55018ad21aedbbac3839e734...           89.0

     vessel_a_flag          vessel_a_type_description  \
0           Greece                             Towing
1           Greece                             Towing
2           Greece                             Towing
3           Greece                             Towing
4           Greece                             Towing
...            ...                                ...
1211        Greece  Tanker, No additional information
1212        Greece  Tanker, No additional information
1213        Greece  Tanker, No additional information
1214        Greece  Tanker, No additional information
1215        Greece  Tanker, No additional information

                                            vessel_b_id  vessel_b_type  \
0     3942ce91429a477ae9e6e08f70ba4ff5006f6a8a912e19...           37.0
1     3942ce91429a477ae9e6e08f70ba4ff5006f6a8a912e19...           37.0
2     6ba7b496df404cd3f2bcdaa79fd03881fc400ef1e0c0db...           80.0
3     6ba7b496df404cd3f2bcdaa79fd03881fc400ef1e0c0db...           80.0
4     6ba7b496df404cd3f2bcdaa79fd03881fc400ef1e0c0db...           80.0
...                                                 ...            ...
1211  29b2c240d3ee158281fb4ad556939ee938d08685bd796a...           80.0
1212  29b2c240d3ee158281fb4ad556939ee938d08685bd796a...           80.0
1213  29b2c240d3ee158281fb4ad556939ee938d08685bd796a...           80.0
1214  26199b57ef2b787a02bf09d81b98aa7ca1a984091c6a2b...           80.0
1215  26199b57ef2b787a02bf09d81b98aa7ca1a984091c6a2b...           80.0

     vessel_b_flag       vessel_b_type_description
0            Malta                  Pleasure Craft
1            Malta                  Pleasure Craft
2           Greece  Tanker, all ships of this type
3           Greece  Tanker, all ships of this type
4           Greece  Tanker, all ships of this type
...            ...                             ...
1211        Greece  Tanker, all ships of this type
1212        Greece  Tanker, all ships of this type
1213        Greece  Tanker, all ships of this type
1214        Greece  Tanker, all ships of this type
1215        Greece  Tanker, all ships of this type

[1216 rows x 8 columns]

Step 6: <u>For a given passenger ship on 16/08/2019:</u>

- Select a passenger ship from the Vessels table.
- Fetch all the spots recorded for this vessel on 16/08/2019.
- Calculate the number of spots.
- Determine the minimum, average, and maximum time difference between two consecutive moments.

In [47]:
# Fetch the ID of a passenger ship
query_passenger_ship = """
    SELECT id 
    FROM "Vessels" v
    JOIN "VesselTypes" t ON v.type = t.code
    WHERE t.description LIKE 'Passenger%'
    LIMIT 1;
"""
# Execute the SQL query and fetch the results
result = engine.connect().execute(text(query_passenger_ship)).fetchall()

# Extract and print the vessel ID
passenger_ship_id = result[0][0] if result else None
print(f"Selected Passenger Ship ID: {passenger_ship_id}" if passenger_ship_id else "No passenger ship found!")

Selected Passenger Ship ID: 5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd69a1e1e618d876d86d

In [49]:
# Fetch all spots for the selected passenger ship on 16/08/2019
query_spots = f"""
    SELECT t 
    FROM "Positions"
    WHERE vessel_id = '{passenger_ship_id}';

"""
df_spots = pd.read_sql(query_spots, engine)
print(df_spots)

                        t
0     2019-08-05 07:51:00
1     2019-08-05 07:51:11
2     2019-08-05 07:51:20
3     2019-08-05 07:51:30
4     2019-08-05 07:51:40
...                   ...
8797  2019-08-05 22:00:22
8798  2019-08-05 22:00:33
8799  2019-08-05 22:00:53
8800  2019-08-05 22:01:03
8801  2019-08-05 22:01:12

[8802 rows x 1 columns]

16/08/2019 date is not available, so let's take 05/08/2019 instead.

In [55]:
# Fetch all spots for the selected passenger ship on 05/08/2019
query_spots = f"""
    SELECT t, lat, lon, speed 
    FROM "Positions"
    WHERE vessel_id = '{passenger_ship_id}'
    AND t::date = '2019-08-05'
    ORDER BY t;
"""
df_spots = pd.read_sql(query_spots, engine)
print(df_spots)

                        t       lat       lon  speed
0     2019-08-05 07:15:22  37.79541  23.68257   10.5
1     2019-08-05 07:15:22  37.79541  23.68257   10.5
2     2019-08-05 07:15:22  37.79541  23.68257   10.5
3     2019-08-05 07:15:22  37.79541  23.68257   10.5
4     2019-08-05 07:15:22  37.79541  23.68257   10.5
...                   ...       ...       ...    ...
4485  2019-08-05 22:23:42  37.77553  23.64440    9.1
4486  2019-08-05 22:24:23  37.77390  23.64532    9.2
4487  2019-08-05 22:24:23  37.77390  23.64532    9.2
4488  2019-08-05 22:29:23  37.76215  23.65172    9.1
4489  2019-08-05 22:29:23  37.76215  23.65172    9.1

[4490 rows x 4 columns]

In [56]:
# Calculate the number of spots
num_spots = len(df_spots)
print(f"Number of Spots: {num_spots}")

Number of Spots: 4490

In [57]:
# Convert the 't' column to datetime objects
df_spots['t'] = pd.to_datetime(df_spots['t'])

# Determine the minimum, average, and maximum time difference between two consecutive moments
df_spots['diff'] = df_spots['t'].diff().dt.total_seconds()
min_diff = df_spots['diff'].min()
avg_diff = df_spots['diff'].mean()
max_diff = df_spots['diff'].max()

print(f"Minimum Time Difference: {min_diff} seconds")
print(f"Average Time Difference: {avg_diff} seconds")
print(f"Maximum Time Difference: {max_diff} seconds")

Minimum Time Difference: 0.0 seconds
Average Time Difference: 12.21675206059256 seconds
Maximum Time Difference: 1080.0 seconds

Step 7: <u>Based on the successive spots on 05/08/2019</u>

- Calculate the maximum speed developed by the ship.
- Identify if the vessel was close to any of the ports in the NW (distance < 0.5 n.m.).

In [59]:
# Calculate the maximum speed developed by the ship.
import math

def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371  # Earth's radius in kilometers
    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = (math.sin(dlat / 2) * math.sin(dlat / 2) +
         math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
         math.sin(dlon / 2) * math.sin(dlon / 2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c
    return distance  # returns distance in kilometers

# Calculate displacement for each row
df_spots['next_lat'] = df_spots['lat'].shift(-1)
df_spots['next_lon'] = df_spots['lon'].shift(-1)
df_spots['distance'] = df_spots.apply(lambda row: haversine_distance(row['lat'], row['lon'], row['next_lat'], row['next_lon']), axis=1)

# Calculate speed in km/h
df_spots['speed'] = df_spots.apply(lambda row: row['distance'] / (row['diff'] / 3600) if row['diff'] > 0 else 0, axis=1)  # converting seconds to hours

# Get the maximum speed
max_speed = df_spots['speed'].max()
print(f"Maximum Speed on 16/08/2019: {max_speed} km/h")

Maximum Speed on 16/08/2019: 6.4550414326444185 km/h

In [60]:
# Identify if the vessel was close to any of the ports in the NW (distance < 0.5 n.m.)
# Fetch all ports' positions
query_ports = """
    SELECT name, lat, lon
    FROM "Ports";
"""
df_ports = pd.read_sql(query_ports, engine)

def is_close_to_any_port(lat, lon, threshold=0.93):
    for _, port in df_ports.iterrows():
        distance = haversine_distance(lat, lon, port['lat'], port['lon'])
        if distance <= threshold:
            return port['name']
    return None

# Check for each spot if it's close to a port
df_spots['close_to_port'] = df_spots.apply(lambda row: is_close_to_any_port(row['lat'], row['lon']), axis=1)

# Filter only the rows where the ship was close to a port
df_close_to_ports = df_spots[df_spots['close_to_port'].notnull()]

print(df_close_to_ports[['t', 'close_to_port']])

                       t close_to_port
1836 2019-08-05 07:57:40    Drapetsona
1837 2019-08-05 07:57:40    Drapetsona
1838 2019-08-05 07:57:40    Drapetsona
1839 2019-08-05 07:57:40    Drapetsona
1840 2019-08-05 07:57:40    Drapetsona
...                  ...           ...
3807 2019-08-05 21:17:42    Drapetsona
3808 2019-08-05 21:17:52    Drapetsona
3809 2019-08-05 21:17:52    Drapetsona
3810 2019-08-05 21:18:02    Drapetsona
3811 2019-08-05 21:18:02    Drapetsona

[1976 rows x 2 columns]

## Note:

Let's break down the steps we've taken and how they relate to the note that are provided in document:

1. **Distance Calculation (Note #1)**:
    - We've addressed the complexity of calculating the distance between two geographical points by using the Haversine formula (`haversine_distance` function). This formula gives a reasonably accurate distance between two points on the Earth's surface specified by their latitude and longitude in degrees. 
    - The formula takes into account the spherical shape of the Earth, which is crucial when dealing with lat/lon coordinates. This approach is preferred over the Euclidean distance (Pythagorean theorem) because the Earth is not flat.
    - The specific conversion of one degree of latitude to meters or kilometers can vary based on the location on the Earth (e.g., closer to poles vs. equator). However, for general purposes, one degree of latitude is approximately 111 kilometers. The Haversine formula does this conversion implicitly.
    - We've used this formula in the `haversine_distance` function to calculate the distance between two consecutive positions of a ship and to determine if a ship is close to any port.

2. **Speed Calculation (Note #2)**:
    - For the speed calculation, we used the formula $$( v = \frac{\Delta s}{\Delta t} )$$, where $$( \Delta s )$$ is the displacement (distance between two consecutive positions) and $$( \Delta t )$$ is the time difference between those positions.
    - The displacement, $$( \Delta s )$$, is calculated using the `haversine_distance` function, as mentioned above. 
    - The time difference, $$( \Delta t )$$, is calculated using the difference between timestamps of consecutive spots. 
    - Using the above formula, we've calculated the instantaneous speed of the ship for each recorded spot.
    - This method provides a more reliable measure of speed compared to directly using the speed field in the dataset, especially if there are inconsistencies or inaccuracies in that field.

3. **Proximity to Ports**:
    - Using the same distance calculation method (`haversine_distance`), we've determined if the ship was close to any ports in the dataset. If the calculated distance was less than a certain threshold (0.93 km, approximately 0.5 nautical miles), the ship was deemed to be close to that port.

---
# 4. Data Analysis with Python/GeoPandas

- Analyze data for a specific passenger ship on a specific day.
- Determine the maximum speed the ship developed and the ports it was close to.

Step 1: <u>Analyze data for a specific passenger ship on a specific day.</u>

- First, we need to identify a specific passenger ship.
    - This could be done by looking at the Vessels and VesselTypes tables.
    - We'll need to filter out passenger ships and then perhaps select one either by its ID or some other distinguishing factor.
- Once we've selected a ship, we'll then need to filter the Positions dataframe for that ship's data on a specific day.

In [33]:
# Filter out passenger ships from the vessel types
passenger_ships = vessel_types_df[vessel_types_df['description'].str.contains('passenger', case=False, na=False)]
passenger_ships

    code                           description
60    60     Passenger, all ships of this type
61    61       Passenger, Hazardous category A
62    62       Passenger, Hazardous category B
63    63       Passenger, Hazardous category C
64    64       Passenger, Hazardous category D
65    65    Passenger, Reserved for future use
66    66    Passenger, Reserved for future use
67    67    Passenger, Reserved for future use
68    68    Passenger, Reserved for future use
69    69  Passenger, No additional information

We'll consider the generic type `Passenger, all ships of this type` (with code 60) to filter out a specific passenger ship from the Vessels dataframe.

In [34]:
# Filter out passenger ships from the Vessels dataframe
selected_passenger_ships = vessels_df[vessels_df['type'] == 60]
selected_passenger_ships.head()

                                                   id  type            flag
17  5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd...  60.0           Malta
18  84872dde83fa3649fba717401ad1ceb3de83b0585f476f...  60.0           Malta
25  52063b8cce015c16f72dad747fb3aeb9af53249ffdce58...  60.0  United Kingdom
40  11e59aaa59860630711db1173860c9b322292d9da5a331...  60.0          Greece
44  5de00399a2fdba5f2eb761a622a79a73af9d4058d51e6b...  60.0          Greece

In [35]:
# 1. Filter the Positions dataframe for the specific ship's data on 2019-08-15
specific_ship_data = positions_df[
    (positions_df['vessel_id'] == '5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd69a1e1e618d876d86d') & 
    (positions_df['t'].str.startswith('2019-08-05'))
]

In [36]:
# 2. Determine the maximum speed the ship developed on that day
max_speed = specific_ship_data['speed'].max()

In [37]:
specific_ship_data.head()

,id,vessel_id,t,lon,lat,heading,course,speed
256538,9621185,5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd...,2019-08-05 07:15:22,23.68257,37.79541,338.0,334.3,10.5
257344,9622237,5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd...,2019-08-05 07:17:53,23.67776,37.80358,339.0,334.4,14.0
257399,9622316,5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd...,2019-08-05 07:18:03,23.67738,37.80424,339.0,334.5,14.1
257668,9622672,5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd...,2019-08-05 07:18:59,23.67536,37.80752,339.0,334.3,14.4
257735,9622758,5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd...,2019-08-05 07:19:11,23.67494,37.80825,339.0,334.7,14.5

In [38]:
max_speed

15.4

Step 2: <u>Determine the maximum speed the ship developed and the ports it was close to:</u>

- First, we'll need to calculate the distance between each position of the ship and every port.
- Then, for each position, we'll determine if there are any ports within the threshold distance.
- Store these ports in a list, and finally, convert the list to a set to eliminate duplicates.

In [39]:
# Define a threshold for "close" in degrees (approximately 1km at the latitude of Greece)
threshold = 1 / 111  # This is a rough estimate; 1 degree latitude is approximately 111km

In [40]:
# Convert specific_ship_data to a GeoDataFrame
specific_ship_gdf = gpd.GeoDataFrame(specific_ship_data, 
                                     geometry=gpd.points_from_xy(specific_ship_data.lon, specific_ship_data.lat))

# List to store ports the ship was close to
close_ports = []

# For each position of the ship on the given day
for idx, row in specific_ship_gdf.iterrows():
    # Calculate the distance to all ports
    distances = gdf_ports_combined.distance(row['geometry'])
    
    # Check if any port is within the threshold distance
    nearby_ports = gdf_ports_combined[distances < threshold]
    
    # If any nearby ports are found, add them to the list
    if not nearby_ports.empty:
        close_ports.extend(nearby_ports['name'].tolist())

In [41]:
# Convert to a set to remove duplicates
close_ports_set = set(close_ports)
close_ports_set

{'Drapetsona', 'Piraeus - Akti Vassiliadis', 'Piraeus - Central Port'}

- That means on the date `2019-08-05`, the passenger ship with the given `vessel_id: 5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd69a1e1e618d876d86d` came close to the following ports:

1. Drapetsona
2. Piraeus - Akti Vassiliadis
3. Piraeus - Central Port

---
# 5. Data Cleaning
- Clean data to remove duplicates and noise.
- Add additional fields to the Vessels and VesselTypes tables.
- Perform two "cleanup" operations.

Step 1: <u>Clean data to remove duplicates and noise.</u>

- Remove Duplicates:
    - For tables like Positions, Vessels, and VesselTypes, we should remove rows with duplicate values based on certain criteria.

In [42]:
# For example, in the Positions table, we might want to ensure that there are no duplicate records for the same vessel_id at the same timestamp t.
positions_df.drop_duplicates(subset=['vessel_id', 't'], inplace=True)

In [43]:
# For the Vessels table, we can check duplicates based on the id:
vessels_df.drop_duplicates(subset=['id'], inplace=True)

- Noise Removal:
    - Noise in data can manifest in various ways like incorrect speed readings (negative values or unreasonably high values), missing vessel types, or incorrect coordinates. We will identify and handle such noise.

In [44]:
# Let's check for any negative speed values in Positions:
positions_df = positions_df[positions_df['speed'] >= 0]

In [45]:
# For missing vessel types in Vessels:
vessels_df = vessels_df[vessels_df['type'].notna()]

Step 3: <u>Add additional fields to the Vessels and VesselTypes tables.</u>
- Depending on the requirements, we can add fields such as `last_updated`, `status`, etc.

In [46]:
import datetime
vessels_df['last_updated'] = datetime.datetime.now()

Step 3: <u>Perform two "cleanup" operations.</u>
- For example, let's say we want to fill missing `heading` values in the `Positions` table with the median value

In [47]:
median_heading = positions_df['heading'].median()
positions_df['heading'].fillna(median_heading, inplace=True)

- And as a second cleanup operation, for exxample we want to convert any speed values greater than 100 (assuming it's an outlier or noise) to the median speed:

In [48]:
median_speed = positions_df['speed'].median()
positions_df.loc[positions_df['speed'] > 100, 'speed'] = median_speed

---
# 6. Data Enrichment

- Segment the sequence of moments emitted by a ship.
- Populate three new tables:
    - Trips (trip_id, vessel_id, depart_time, arrival_time, depart_port, arrival_port)
    - Trajectories (trajectory_id, vessel_id, start_time, end_time, status)
    - NavigationalStatus (code, description)

Step 1: <u>Segment the sequence of moments emitted by a ship.</u>

To segment the sequence of moments emitted by a ship, we need to define what constitutes a segment. For simplicity, we can consider a "trip" to start when a ship is near a port and ends when it reaches another port. Moments between these trips can be considered as trajectories.

For the Trips table, we can use the logic from our previous analysis where we identified when a ship is near a port. We will track when a ship moves away from a port (departure) and when it gets close to another port (arrival). For simplicity, this example will just consider two consecutive positions close to two different ports as a trip:

- Trips

In [49]:
threshold = 0.05  # A threshold distance to determine if a ship is near a port
departures = []
arrivals = []

In [50]:
print(specific_ship_gdf.columns)

Index(['id', 'vessel_id', 't', 'lon', 'lat', 'heading', 'course', 'speed',
       'geometry'],
      dtype='object')

In [51]:
# Reset the index of the GeoDataFrame
specific_ship_gdf.reset_index(drop=True, inplace=True)

departures = []
arrivals = []

# Iterate over the positions of a ship
for idx, row in specific_ship_gdf.iterrows():
    distances = gdf_ports_combined.distance(row['geometry'])
    nearby_ports = gdf_ports_combined[distances < threshold]
    
    if not nearby_ports.empty:
        # If it's not the first row and the previous position was not near a port, this is a departure
        if idx > 0:
            if specific_ship_gdf.iloc[idx-1]['geometry'].distance(nearby_ports.iloc[0]['geometry']) >= threshold:
                departures.append((row['vessel_id'], row['t'], nearby_ports.iloc[0]['name']))
        
        # If it's not the last row and the next position is not near the same port, this is an arrival
        if idx < len(specific_ship_gdf) - 1:
            if specific_ship_gdf.iloc[idx+1]['geometry'].distance(nearby_ports.iloc[0]['geometry']) >= threshold:
                arrivals.append((row['vessel_id'], row['t'], nearby_ports.iloc[0]['name']))

In [52]:
# Combine departures and arrivals to generate the Trips table
trips = []
for i in range(len(departures)-1):
    trips.append((i, departures[i][0], departures[i][1], arrivals[i][1], departures[i][2], arrivals[i][2]))

trips_df = pd.DataFrame(trips, columns=['trip_id', 'vessel_id', 'depart_time', 'arrival_time', 'depart_port', 'arrival_port'])

In [53]:
trips_df

,trip_id,vessel_id,depart_time,arrival_time,depart_port,arrival_port
0,0,5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd...,2019-08-05 07:40:26,2019-08-05 17:21:16,ZEA,ZEA
1,1,5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd...,2019-08-05 07:40:26,2019-08-05 17:21:16,ZEA,ZEA

- Trajectories

In [54]:
trajectories = []
for i in range(len(trips)-1):
    trajectories.append((i, trips[i][1], trips[i][3], trips[i+1][2], 'In Transit'))

trajectories_df = pd.DataFrame(trajectories, columns=['trajectory_id', 'vessel_id', 'start_time', 'end_time', 'status'])

In [55]:
trajectories_df

,trajectory_id,vessel_id,start_time,end_time,status
0,0,5d7ceb55f746f9a4a57fdd0ebf457bb7c7abfd535358cd...,2019-08-05 17:21:16,2019-08-05 07:40:26,In Transit

- NavigationalStatus: The AIS (Automatic Identification System) navigational status codes have specific meanings.

In [56]:
navigational_statuses = [
    (0, 'Under way using engine'),
    (1, 'At anchor'),
    (2, 'Not under command'),
    (3, 'Restricted maneuverability'),
    (4, 'Constrained by her draught'),
    (5, 'Moored'),
    (6, 'Aground'),
    (7, 'Engaged in fishing'),
    (8, 'Under way sailing'),
    (9, 'Reserved for future use'),
    (10, 'Reserved for future use'),
    (11, 'Reserved for future use'),
    (12, 'Reserved for future use'),
    (13, 'Reserved for future use'),
    (14, 'Reserved for future use'),
    (15, 'Not defined (default)')
]

navigational_status_df = pd.DataFrame(navigational_statuses, columns=['code', 'description'])

In [57]:
navigational_status_df

    code                 description
0      0      Under way using engine
1      1                   At anchor
2      2           Not under command
3      3  Restricted maneuverability
4      4  Constrained by her draught
5      5                      Moored
6      6                     Aground
7      7          Engaged in fishing
8      8           Under way sailing
9      9     Reserved for future use
10    10     Reserved for future use
11    11     Reserved for future use
12    12     Reserved for future use
13    13     Reserved for future use
14    14     Reserved for future use
15    15       Not defined (default)

# Completed